<%- include("header") -%>

    <h1>About Us</h1>

    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aspernatur odit neque recusandae iste distinctio
        id nihil, ea impedit repudiandae dolorem, eaque, tempora fugiat atque nulla quos quibusdam voluptatibus commodi.
    </p>

    <%- include("footer") -%>